.backgroud{
    width: 100%;
    height: 60%;
    position: absolute;
    z-index: -1;
}

.home{
    margin-top: -60px;
    text-align: center;
    display: inline-block;
    float: right;
    padding-right: 40px;
}

h1{
    padding-left: 16px;
    font-style: revert;
    text-decoration: underline;
    color: blue;
}

.contact{
    margin-top: -60px;
    text-align: center;
    display: inline-block;
    float: right;
    padding-right: 80px;
}

.patientofhms{
    margin-top: 25%;
    padding-left: 80px;
    display: inline-block;
}

.patient{
    display: inline-block;
    border-radius: 50%;
}

.doctorofhms{
    margin-top: 25%;
    padding-left: 220px;
    display: inline-block;
}

.doctor{
    display: inline-block;
    margin-top: 10%;
    border-radius: 30%;
}

.adminfhms{
    margin-top: -280px;
    padding-left: 180px;
    display: inline-block;
    float: right;
    padding-right: 80px;
}

.admin{
    display: inline-block;
    border-radius: 30%;
}

.footer{
    padding-top: 20px;
    left: 0;
    height: 120px;
    width: 100%;
    background-color: #4de96b;
    text-align: center;
}

.Fhome{
    padding-top: 10px;
    display: inline-block;
    padding-left: 80px;
    float: left;
    text-decoration: red;
}

.Fcontact{
    padding-top: 10px;
    display: inline-block;
    padding-right: 1000px;
    text-decoration: red;
}